html,
body,
#app {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;



}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #00000028;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(36, 36, 36, 0.226);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(73, 73, 73, 0.418);
}